<% if @projects.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <%= form_tag({}) do -%>
        <div class="autoscroll">
          <table class="list">
            <thead><tr>
              <th style="display: none;"></th>
              <th></th>
              <% @query.columns.each do |column| %>
                  <% if column.class == QueryCustomFieldColumn %>
                      <%= content_tag('th', h(column.caption)) %>
                  <% else %>
                      <%= column_header(column) %>
                  <% end %>

              <% end %>
            </tr></thead>
            <tbody>
            <% project_tree(@projects) do |project, level| %>
                <tr class="hascontextmenu <%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
                  <td class="checkbox hide-when-print" style="display: none;"><%= check_box_tag("ids[]", project.id, false, :id => nil) %></td>
                  <td><%= favorite_tag(project, User.current) %></td>
                  <% @query.columns.each do |column| %><%= content_tag 'td', column_content(column, project), :class => column.css_classes %><% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>
<% end %>